<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-sm">
    <a class="navbar-brand" href="#"><img src="assets/images/mtn_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto ml-5 mr-5">
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://wegotu.mtn.co.za/">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://www.mtn.co.za/shop/deals">Products & Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://wegotu.mtn.co.za/help/">Help & Support
          </a>
        </li>
      </ul>
      <div class="text-end">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</nav>
