body {
  font-family: "Arial";
  margin: 0px;
  background-color: #f5f5f5 !important;
}

.navbar {
  background-color: rgba(255,255,255,0.96);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}

.navbar img{
  position: absolute;
  left: 8%;
  width: 75px;
  height: 75px;
  border: 5px solid #fff;
  top: 0;
}


.btn-start {
  text-align: center;
  color: #232323;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: .7;
}

.btn-start:hover {
  opacity: 1;
}

.img-placeholder {
  width: 70%;
  margin: 40px auto 0 auto;
}

a {
  text-decoration: none !important;
}

.img-placeholder img {
  height:160px;
  object-fit: cover;
}

.m-left {
  margin-left: 8px;
}

.owl-carousel .owl-stage {
  max-height: 800px;
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item{
  transform: scale(0.6);
  -ms-transform: scale(0.6);
  transition: all .2s;
  -webkit-transform: all .2s;
    position: relative;
  box-sizing: border-box;
  border: 2px solid rgba(150,150,150,0.08);
  border-radius: 8px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12);
}

.owl-carousel .owl-item:not(.center) .btn-start{
  display: none;
}

.owl-carousel .owl-item:not(.center) {
  transform: scale(0.7);
  -ms-transform: scale(0.8);
  margin: 0 -10px;
}

.owl-carousel .owl-item.center {
  height:450px !important;
  width:300px !important;
  transform: scale(1);
  -ms-transform: scale(3);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #FFC000;
  border-radius: 16px 16px 12px 12px;
  opacity: 1;
  z-index: 3;
}

.owl-carousel .owl-item.center .item-title{
  font-size:25px !important;
}

.owl-carousel .owl-nav {
  position: absolute !important;
  left: 25% !important;
  top: 85% !important;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  height: 40px;
  width: 42px;
  background:#232323 !important;
  z-index: 100;
  border-radius: 50% !important;
}

.owl-prev {
  margin-right: 220px !important;
}
.owl-next {
  margin-left: 220px !important;
}

.owl-prev:before {
  font-family: FontAwesome !important;
  content: "\f053" !important;
}

.owl-next:before {
  font-family: FontAwesome !important;
  content: "\f054" !important;
}

.owl-theme .owl-nav [class*=owl-] {
  padding: 9px 10px !important;
}

@media only screen and (max-width: 600px) {

  .owl-carousel .owl-nav {
    left: 15% !important;
  }

  .owl-prev {
    margin-right: 120px !important;
  }
  .owl-next {
    margin-left: 120px !important;
  }

}


